---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% assign pubs = site.publications | sort: 'date' | reverse %}
{% assign years = pubs | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year in years %}
  <h2>{{ year.name }}</h2>
  <hr />
  <ul class="publication-list">
    {% for post in year.items %}
      <li>
        <h4><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></h4>
        {% if post.authors %}{{ post.authors }}<br />{% endif %}
        <b>{{ post.venue }}</b>{% if post.venuedetail %} {{ post.venuedetail }}{% endif %}
        {% if post.paperurl %} | <a href="{{ post.paperurl }}">paper</a>{% endif %}
        {% if post.arxivurl %} | <a href="{{ post.arxivurl }}">arXiv</a>{% endif %}
        {% if post.codeurl %} | <a href="{{ post.codeurl }}">code</a>{% endif %}
        {% if post.slidesurl %} | <a href="{{ post.slidesurl }}">slides</a>{% endif %}
        {% if post.bibtexurl %} | <a href="{{ post.bibtexurl }}">bibtex</a>{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}
